body{
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: white;
  margin-left: 0px;
  background-position: relative;
  background-repeat: no-repeat;
  text-align: center;
  overflow-y: scroll;

}

a{
  color: black;
}

ol {
  list-style: none;
}

.split1 {
  height: 100%;
  width: 40%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.split2 {
  height: 100%;
  width: 60%;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: left;
}
.left {
  background-color: white;
  float: left;
  font-size: 18px;
  color: black;
}

.right {
  background-color: white;
  right: 0;
  position: center;
  font-size: 18px;
  color: black;
}

.task {
  color: green;
  font-size: 14px;
}
.task:hover {
  font-weight: bold;
}

.notes {
  color: lightgreen;
  font-size: 14px;
}
.notes:hover {
  font-weight: bold;
}
